* {
  margin: 0;
}

html {
  margin-bottom: -2rem;
}

:root{
  --neutral: #e0e0e0;
  --bkgd: #002366;
  --bright_one: #ff4252;
  --bright_two: #ff5b8a;
  --bright_three: #ff7038;

  --try_one: #f5a425;
  --try_two: #098901;
  --try_three: #008080;
  --try_four: #4ecdc4;
}

.grid {
  display: grid;
  grid-template-columns: 10vw 20vw repeat(4, 10vw) 20vw 10vw;
  grid-template-rows: [one] 3em [two] minmax(3rem, 5rem) [three] 2rem [four] 10rem [five] 10rem [six] fit-content(5rem) [seven] fit-Content(2rem) [eight] fit-content(10rem) [nine] fit-content(5rem) [ten] fit-content(10rem);
}

#tri {
  height: 42vh;
  clip-path: polygon(100% 0px, 8px 18.61vh, 120% 35.71vw);
  background: var(--bright_three);
  z-index: 0;
  top: 0rem;
  shape-margin: .5rem;
  float: right;
  grid-column: 7 / 9;
  grid-row-start: 5;
  align-self: start;
}

#cir1 {
  position: relative;
  height: 28rem;
  clip-path: circle(12rem at 0rem 13.5rem);
  background-color: var(--try_one);
  z-index: 0;
  top: -5rem;
  grid-column: 1 / 9;
  grid-row: 1 / 5;
  clip-path: circle(12rem at 1.19rem 15.88rem);
  top: -7rem;
}

#cir2 {
  position: relative;
  height: 18rem;
  clip-path: circle(9rem at 82.92vw 9.43rem);
  bottom: 5.5rem;
  z-index: 0;
  clip-path: circle(9rem at 47.56vw 9.01rem);
  grid-column: 4 / 9;
  grid-row: 10 / 13;
}

#float_head {
  height: 32rem;
  width: 15rem;
  shape-outside: circle(12rem at 1.19rem 9.32rem);
  float: left;
  background: var(--try_one);
  clip-path: circle(12rem at 1.19rem 9.32rem);
  shape-margin: 1rem;
}

#float_tri {
 height: 12rem;
 width: 12rem;
 shape-outside: polygon(12.48vh 56.52%, 100% 0px, 120% 155px);
 float: right;
 shape-margin: .75rem;
 background: var(--bright_three);
 clip-path: polygon(12.48vh 56.52%, 100% 0px, 120% 155px);
 overflow: hidden;
}

#float_foot {
  height: 141%;
  width: 75%;
  shape-outside: circle(9rem at 16.83rem 27.95rem);
  float: right;
  shape-margin: 1rem;
  background: var(--try_one);
  clip-path: circle(9rem at 16.83rem 27.95rem);
  display: flex;
  align-items: flex-end;
}

body {
  color: var(--bright_one);
  background: var(--bkgd);
  font: ;
}

h1 {
  text-align: right;
}

.top {
  content: "";
  grid-column: 1 / 9;
  grid-row: 1 / 2;
  height: 3rem;
}

.header {
  z-index: 2;
  position: relative;
  background: var(--bkgd);
  padding: 1rem;
  grid-column: 1 / 9;
  grid-row: 2 / 3;
}

.head_bottom {
  content: "";
  grid-column: 1 / 9;
  grid-row: 3 / 4;
  height: 1.5rem;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 1rem 0;
  grid-column: 1 / 9;
  grid-row: 11 / 12;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background: var(--bkgd);
  margin-bottom: 1rem;
}

.nav ul {
  padding: 0;
}

.nav li {
  list-style: none;
  line-height: 1.25rem;
  padding: 0;
}

a {
  color: var(--bright_two);
  text-decoration: underline;
  margin: 0;
}


main {
  grid-column: 1 / 9;
  grid-row: 1 / 8;
  display: contents;
  display: block;
}


main p {
  margin: 0 2rem 1rem 2rem;
  overflow: visible;
}

p {
  margin-bottom: 1rem;
  text-align: left;
}

.space {
  height: 10rem;
}

#main_txt {
  grid-column: 1 / 9;
  grid-row: 1 / 8;

}

.credit {
  display: flex;
  justify-content: center;
  z-index: 4;
  position: relative;
  text-align: center;
  margin-top: 1rem;
  font-size: .75rem;
}

.credit p {
  text-align: center;
}

.credit p span{
  display: block;
  justify-self: center;
  align-self: center;
}

#bio {
  color: var(--bkgd);
  grid-column: 1 / 9;
  grid-row: 8 / 13;
  display: flex;
  margin-bottom: ;
}

#bio p {
  background: var(--try_three);
  padding: 0 2rem 1rem 2rem;
  margin: 0;
  grid-column: 1 / 9;
  grid-row: 1 / inherit;
  grid-row: 1 / 4;
}



#bio div p:nth-child(2) {
 padding-top: 2rem;
}


#bio p:nth-last-child(1) {
    padding-bottom: 4rem;
}





/* MEDIA */
@media screen and (max-width: 24em) {
  #float_foot {
    height: 143%;
    width: 75%;
    shape-outside: circle(9rem at 16.58rem 30.26rem);
    float: right;
    shape-margin: 1rem;
    background: var(--try_one);
    clip-path: circle(9rem at 16.58rem 30.26rem);
    display: flex;
    align-items: flex-end;
  }
}

@media screen and (min-width: 23.75em) {
  #float_foot {
    height: 141%;
    width: 75%;
    shape-outside: circle(9rem at 20.27rem 25.45rem);
    float: right;
    shape-margin: 1rem;
    background: var(--try_one);
    clip-path: circle(9rem at 20.27rem 25.45rem);
    display: flex;
    align-items: flex-end;
  }

}


@media screen and (min-width: 28.125em) {
  #float_foot {
    height: 150%;
    width: 50%;
    shape-outside: circle(9rem at 38.81vw 24.50em);
    float: right;
    shape-margin: 1rem;
    background: var(--try_one);
    clip-path: circle(9rem at 38.81vw 24.50em);
    display: flex;
    align-items: flex-end;
  }

  #bio p:nth-last-child(1) {
    padding-bottom: 6em;
  }
}

@media only screen and ( min-width: 31.25em) {
  .credit p span{
    display: inline;
  }

  p {
    text-align: justify;
  }

  #float_foot {
    height: 173%;
    width: 50%;
    shape-outside: circle(9rem at 38.81vw 24.50em);
    float: right;
    shape-margin: 1rem;
    background: var(--try_one);
    clip-path: circle(9rem at 38.81vw 24.50em);
    display: flex;
    align-items: flex-end;
    background: var(--try_two);
  }
}
