* {
  margin: 0;
}

html {
  margin-bottom: -2rem;
}

:root{
  --neutral: #e0e0e0;
  --bkgd: #002366;
  --bright_one: #ff4252;
  --bright_two: #ff5b8a;
  --bright_three: #ff7038;
  --font_one: #ff5b8a;

  --try_one: #f5a425;
  --try_two: #098901;
  --try_three: #008080;
  --try_four: #4ecdc4;
  --try_five: #0F547E;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 10fr);
  grid-template-rows: [one] 3em [two] minmax(3rem, 5rem) [three] 2rem repeat(15, max-content);
}

#float_head {
  height: 32rem;
  width: 15rem;
  shape-outside: circle(12rem at 1.19rem 9.32rem);
  float: left;
  background: var(--try_one);
  clip-path: circle(12rem at 1.19rem 9.32rem);
  shape-margin: 1rem;
}

#float_tri {
 height: 12rem;
 width: 12rem;
 shape-outside: polygon(7.2vh 65.9%, 100% 0px, 116.88% 193px);
 float: right;
 shape-margin: .75rem;
 background: var(--bright_three);
 clip-path: polygon(7.2vh 65.9%, 100% 0px, 116.88% 193px);
 overflow: hidden;
}

#float_foot {
  height: 141%;
  width: 75%;
  shape-outside: circle(9rem at 16.83rem 27.95rem);
  float: right;
  shape-margin: 1rem;
  background: var(--try_one);
  clip-path: circle(9rem at 16.83rem 27.95rem);
  display: flex;
  align-items: flex-end;
}

#float_foot_wide {
  visibility: hidden;
}

body {
  color: var(--font_one);
  background: var(--bkgd);
  font: ;
}

#h1_bkgd {
  background: var(--bkgd);
  z-index: 5;
  grid-column: 4 / -1;
  border-top-left-radius: 47px 41%;
  border-bottom-left-radius: 75% 6em;
}

h1 {
  text-align: right;
  justify-self: flex-end;
  color: var(--bright_one);
  z-index: 5;
  grid-column: 2 / -2;
  grid-row: 2 / 3;
  align-self: center;
}

h1 span{
  display: block;
  justify-self: center;
  align-self: center;
}

.header {
  z-index: 2;
  position: relative;
  background: var(--bkgd);
  grid-column: 1 / 11;
  grid-row: 2 / 3;
  display: grid;
  flex-direction: row-reverse;
  justify-content: space-between;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}


/* NAV */

.hamburger-menu {
 grid-column: 1 / -1;
 align-self: start;
 display: flex;
 filter: drop-shadow(-1px 22px 30px rgba(221, 0, 104, 0.5));
}

#menu_toggle {
 height: 4rem;
 width: 4rem;
 visibility: hidden;
 transition: all .75s ease-in-out;
 display: flex;
}

#menu_toggle:checked ~ .menu_btn > span,
#menu_toggle:checked ~ .menu_btn > span::before,
#menu_toggle:checked ~ .menu_btn > span::after {
  /*   width: 100%;  */

  height: .175em;
}

#menu_toggle:checked ~ .menu_btn > span {
    transform: rotate(45deg);
}

#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu_toggle:checked ~ .menu_box {
  visibility: visible;
  left: -6vw;
  transition: all 1s cubic-bezier(0.61, 1, 0.88, 1);
  top: -3em;
  padding: 3em 3em 2em 10vw;
  clip-path: circle(277px at 43px 252px);
  height: 100vh;
  width: 60em;
  padding-top: 7rem;
  background: var(--try_one);
  list-style: none;
}

.menu_btn {
  display: flex;
  position: absolute;

  width: 4em;
  height: 4em;

  cursor: pointer;
  z-index: 10;
  align-content: start;
  left: 10vw;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;

  width: 75%;
  background-color: var(--bright_two);

  height: .125em;
  margin-top: ;
  top: 50%;
  align-self: center;
  justify-self: center;
}

.menu_btn > span::before {
  content: "";
  top: -8px;
}

.menu_btn > span::after {
  content: "";
  top: 8px;
}

.menu_box {
  display: block;
  /*   visibility: hidden;  */
  left: -100%;
  transition: all 1s cubic-bezier(0.61, 1, 0.88, 1);
  top: -25em;
  padding: 8em 3em 2em 1em;
    padding-top: 8em;
  clip-path: circle(277px at 43px 252px);
  height: 100vh;
  width: 60em;
  padding-top: 7rem;
  background: var(--try_one);
  list-style: none;
  position: relative;
}

.menu_box > li:first-child {
  padding-top: 1.5em;
}

.menu_item {
  display: block;
  padding: 1em 1em 1em 1em;

  color: var(--bright_two);

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;
  border-top-left-radius: 10em 100%;
  border-top-right-radius: 8em 3em;
  border-bottom-right-radius: 8em 3em;
  border-bottom-left-radius: 8em 3em;
  transform: rotate(-20deg);
  text-align: center;
  transition: all .25s ease-in-out;
}

.menu_item:hover {
  background-color: var(--try_five);
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 1rem 0;
  grid-column: 1 / -1;
  grid-row: -3 / -2;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background: var(--bkgd);
  margin-bottom: 1rem;
}

.nav ul {
  padding: 0;
}

.nav li {
  list-style: none;
  line-height: 1.25rem;
  padding: 0;
}

a {
  color: var(--bright_two);
  text-decoration: underline;
  margin: 0;
}


main {
  grid-column: 1 / 11;
  grid-row: 1 / 13;
  display: contents;
  display: block;
}


main p {
  /*   margin: 0 1fr 1rem 2rem;  */

  overflow: visible;
}

p {
  line-height: 1.25;
  text-align: left;
  margin: 0 10vw 1rem 10vw;
}

.space {
  height: 10rem;
}

#main_txt {
  grid-column: 1 / 11;
  grid-row: 1 / 8;

}

.credit {
  display: flex;
  justify-content: center;
  z-index: 4;
  position: relative;
  text-align: center;
  margin-top: 1rem;
  font-size: .75rem;
  grid-column: 1 / -1;
  grid-row: -2 / -1;
}

.credit p {
  text-align: center;
}

.credit p span{
  display: block;
  justify-self: center;
  align-self: center;
}

#bio {
  color: var(--bkgd);
  grid-column: 1 / 11;
  grid-row: 13 / 17;
  display: flex;
  background: var(--try_three);
}



#bio div p:nth-child(2) {
 padding-top: 5vw;
}


#bio p:nth-last-child(1) {
    padding-bottom: 5rem;
}





/* MEDIA */
@media screen and (max-width: 24em) {
  #float_foot {
    height: 143%;
    width: 75%;
    shape-outside: circle(9rem at 16.70rem 32.39rem);
    float: right;
    shape-margin: 1rem;
    background: var(--try_one);
    clip-path: circle(9rem at 16.70rem 32.39rem);
    display: flex;
    align-items: flex-end;
  }
}

@media screen and (min-width: 23.75em) {
  #float_foot {
    height: 141%;
    shape-outside: circle(9rem at 16.31rem 30.83rem);
    clip-path: circle(9rem at 16.31rem 30.83rem);
  }
}

@media screen and (min-width: 28.125em) {
  #float_foot {
    height: 150%;
    width: 50%;
    shape-outside: circle(9rem at 38.81vw 29.19em);
    clip-path: circle(9rem at 38.81vw 29.19em);
  }

  #bio p:nth-last-child(1) {
    padding-bottom: 6em;
  }
}

@media screen and ( min-width: 31.25em) {
  .credit p span{
    display: inline;
  }

  p {
    text-align: justify;
  }

  #float_foot {
    height: 144%;
    shape-outside: circle(9rem at 36.24vw 26.32em);
    clip-path: circle(9rem at 36.24vw 26.32em);
  }
}

@media screen and ( min-width: 42.3125em) {

  h1 span {
    display: inline;
  }

  #float_foot {
    height: 165%;
    shape-outside: circle(9rem at 35.27vw 22.00em);
    clip-path: circle(9rem at 35.27vw 22.00em);
  }

  #bio p:nth-last-child(1) {
    padding-bottom: 4em;
  }
}

@media screen and ( min-width: 52.875em) {

  #float_foot {
    height: 150%;
    shape-outside: circle(9rem at 34.51vw 20.76em);
    clip-path: circle(9rem at 34.51vw 20.76em);
  }

  #bio p:nth-last-child(1) {
    padding-bottom: 8vw;
  }
}

@media screen and ( min-width: 65.25em) {

  #float_foot {
    visibility: hidden;
  }

  #float_foot_wide {
    visibility: visible;
    grid-column: 10 / -1;
    grid-row: -13 / -1;
    background: var(--try_one);
    z-index: 0;
    clip-path: circle(12.63rem at 45.00vw 70%);
  }

  #background {
    grid-column: 14 / -1;
    grid-row: 5 / 8;
    background: var(--try_three);
    border-radius: 50% 20% / 10% 40%;
    padding: 4em;
  }

  #bio p {
    background: none;
    margin: 0 5vw 0 5vw;
    padding-bottom: 1em;
  }

  .grid {
    grid-template-columns: repeat(20, 10fr);
  }

  main {
    grid-column: 1 / 14;
    grid-row: 1 / 13;
    display: block;
  }

  #bio {
    color: var(--bkgd);
    grid-column: 14 / -1;
    grid-row: 5 / 8;
    display: flex;
  }

  .header {
    grid-column: 1 / -1;
    margin-right: 1em;
  }
}

@media screen and ( min-width: 90em) {

  main p {
    margin-right: 10vw;
  }

  #float_tri {
   height: 12rem;
   width: 22rem;
   shape-outside: polygon(27% 67.99%, 72.44% 5px, 91.36% 190px);
   float: right;
   shape-margin: 1rem;
   background: var(--bright_three);
   clip-path: polygon(27% 67.99%, 72.44% 5px, 91.36% 190px);
   overflow: hidden;
  }

  #background {
    grid-column: 13 / -2;
  }

  main {
    grid-column: 1 / 13;
  }

  #bio {
    grid-column: 13 / -2;
  }
}
