* {
  margin: 0;
}

html {
  margin-bottom: -2rem;
}

:root{
  --neutral: #e0e0e0;
  --bkgd: #002366;
  --bright_one: #ff4252;
  --bright_two: #ff5b8a;
  --bright_three: #ff7038;
  --font_one: #ff5b8a;

  --try_one: #f5a425;
  --try_two: #098901;
  --try_three: #008080;
  --try_four: #4ecdc4;
  --try_five: #0F547E;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 10fr);
  grid-template-rows: [one] 3em [two] minmax(3rem, 5rem) [three] 2rem repeat(15, min-content);
}

#float_head {
  height: 32rem;
  width: 15rem;
  shape-outside: circle(12rem at 1.19rem 9.32rem);
  float: left;
  background: var(--try_one);
  clip-path: circle(12rem at 1.19rem 9.32rem);
  shape-margin: 1rem;
  grid-column: 1 / 5;
}

#float_tri {
 height: 12rem;
 width: 12rem;
 shape-outside: polygon(12.48vh 56.52%, 100% 0px, 120% 155px);
 float: right;
 shape-margin: .75rem;
 background: var(--bright_three);
 clip-path: polygon(12.48vh 56.52%, 100% 0px, 120% 155px);
 overflow: hidden;
}

#float_foot {
  height: 141%;
  width: 75%;
  shape-outside: circle(9rem at 16.83rem 27.95rem);
  float: right;
  shape-margin: 1rem;
  background: var(--try_one);
  clip-path: circle(9rem at 16.83rem 27.95rem);
  display: flex;
  align-items: flex-end;
}

body {
  color: var(--font_one);
  background: var(--bkgd);
  font: ;
}

h1 {
  text-align: right;
  justify-self: flex-end;
  color: var(--bright_one);
  z-index: 5;
  grid-column: 2 / -2;
  grid-row: 2 / 3;
  align-self: center;
}

h1 span{
  display: block;
  justify-self: center;
  align-self: center;
}

.header {
  z-index: 2;
  position: relative;
  background: var(--bkgd);
  padding: 1rem;
  grid-column: 1 / 11;
  grid-row: 2 / 3;
  display: grid;
  flex-direction: row-reverse;
  justify-content: space-between;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

/* NAV */

.hamburger-menu {
 grid-column: 2 / span 2;
 grid-row: 2 / span 1;
 align-self: center;
 /*! justify-self: left; */
 display: flex;
 /*  align-content: center; */
}

#menu_toggle {
 height: 4rem;
 width: 4rem;
 /*  visibility: hidden; NEEDED!!!!!!!*/
 display: flex;
}

#menu_toggle:checked ~ .menu_btn > span {
    transform: rotate(45deg);
}

#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu_toggle:checked ~ .menu_box {
  visibility: visible;
  left: auto;
  background: var(--try_five);
}

.menu_btn {
  display: flex;
  position: relative;

  width: 4em;
  height: 4em;

  cursor: pointer;
  z-index: 10;
  /*! top: 4rem; */
  /*! position: relative; */
  align-content: center;
  left: -4rem;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;

  width: 75%;
  background-color: var(--bright_two);

  transition-duration: .25s;
  height: .1em;
  /*! padding: .5em; */
  margin-top: ;
  top: 50%;
  align-self: center;
  left: 0%;
  justify-self: center;
}

.menu_btn > span::before {
  content: "";
  top: -8px;
}

.menu_btn > span::after {
  content: "";
  top: 8px;
}

.menu_box {
  display: block;
  /*   visibility: hidden;   */


      /*       left: -100%;      */



  list-style: none;

  background: var(--bkgd);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  border: solid 1px var(--bright_two);
  padding: 2em 2em 2em 3em;
  /*   position: fixed;  */

  top: 4rem;


  transition: 1s;
}

.menu_item {
  display: block;
  padding: 12px 24px;

  color: var(--bright_two);

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

}

.menu_item:hover {
  background-color: var(--try_five);
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 1rem 0;
  grid-column: 1 / 11;
  grid-row: -3 / -2;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background: var(--bkgd);
  margin-bottom: 1rem;
}

.nav ul {
  padding: 0;
}

.nav li {
  list-style: none;
  line-height: 1.25rem;
  padding: 0;
}

a {
  color: var(--bright_two);
  text-decoration: underline;
  margin: 0;
}

main {
  grid-column: 1 / 11;
  grid-row: 1 / 15;
  display: contents;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

main p {
  /*   margin: 0 1fr 1rem 2rem;  */

  overflow: visible;
}

main p:nth-child(2) {
 grid-column: 2 / -2;
 grid-row: 4 / span 1;
}

main p:nth-child(3) {
 grid-column: 2 / -2;
 grid-row: 5 / span 1;
}

main p:nth-child(4) {
 grid-column: 2 / -2;
 grid-row: 6 / span 1;
}

main p:nth-child(5) {
 grid-column: 2 / -2;
 grid-row: 7 / span 1;
}

main p:nth-child(6) {
 grid-column: 2 / -2;
 grid-row: 8 / span 1;
}

main p:nth-child(7) {
 grid-column: 2 / -2;
 grid-row: 9 / span 1;
}

main p:nth-child(8) {
 grid-column: 2 / -2;
 grid-row: 10 / span 1;
}

main p:nth-child(9) {
 grid-column: 2 / -2;
 grid-row: 11 / span 1;
}

main p:nth-child(10) {
 grid-column: 2 / -2;
 grid-row: 12 / span 1;
}


p {
     margin-bottom: 1rem;
  line-height: 1.25;
  text-align: left;

}

.space {
  height: 10rem;
}

#main_txt {
  grid-column: 1 / 11;
  grid-row: 1 / 8;

}

.credit {
  display: flex;
  justify-content: center;
  z-index: 4;
  position: relative;
  text-align: center;
  margin-top: 1rem;
  font-size: .75rem;
  grid-column: 1 / -1;
  grid-row: -2 / -1;
}

.credit p {
  text-align: center;
}

.credit p span{
  display: block;
  justify-self: center;
  align-self: center;
}

#bio {
  color: var(--bkgd);
  grid-column: 1 / 11;
  grid-row: 12 / 13;
  display: grid;
  background: var(--try_three);
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

#bio p {
  /*   background: var(--try_three);  */

  /*   padding: 0 2rem 1rem 2rem;  */

  /*   margin: 0;  */

  grid-column: 1 / 11;
  /*   grid-row: 1 / inherit;  */

  grid-row: 1 / 4;
}



#bio div p:nth-child(2) {
 padding-top: 5vw;
}


#bio p:nth-last-child(1) {
    padding-bottom: 5rem;
}





/* MEDIA */
@media screen and (max-width: 24em) {
  #float_foot {
    height: 143%;
    width: 75%;
    shape-outside: circle(9rem at 16.58rem 30.26rem);
    float: right;
    shape-margin: 1rem;
    background: var(--try_one);
    clip-path: circle(9rem at 16.58rem 30.26rem);
    display: flex;
    align-items: flex-end;
  }
}

@media screen and (min-width: 23.75em) {
  #float_foot {
    height: 141%;
    width: 75%;
    shape-outside: circle(9rem at 20.27rem 25.45rem);
    float: right;
    shape-margin: 1rem;
    background: var(--try_one);
    clip-path: circle(9rem at 20.27rem 25.45rem);
    display: flex;
    align-items: flex-end;
  }

}


@media screen and (min-width: 28.125em) {
  #float_foot {
    height: 150%;
    width: 50%;
    shape-outside: circle(9rem at 38.81vw 24.50em);
    float: right;
    shape-margin: 1rem;
    background: var(--try_one);
    clip-path: circle(9rem at 38.81vw 24.50em);
    display: flex;
    align-items: flex-end;
  }

  #bio p:nth-last-child(1) {
    padding-bottom: 6em;
  }
}

@media screen and ( min-width: 31.25em) {
  .credit p span{
    display: inline;
  }

  p {
    text-align: justify;
  }

  #float_foot {
    height: 144%;
    width: 50%;
    shape-outside: circle(9rem at 35.22vw 20.45em);
    float: right;
    shape-margin: 1rem;
    background: var(--try_one);
    clip-path: circle(9rem at 35.22vw 20.45em);
    display: flex;
    align-items: flex-end;
  }

  #bio p:nth-last-child(1) {
    /*! padding-bottom: 8vw; */
  }
}

@media screen and ( min-width: 42.3125em) {
  .credit p span{
    display: inline;
  }

  h1 span {
    display: inline;
  }

  p {
    text-align: justify;
  }

  #float_foot {
    height: 165%;
    width: 50%;
    shape-outside: circle(9rem at 36.52vw 17.63em);
    float: right;
    shape-margin: 1rem;
    background: var(--try_one);
    clip-path: circle(9rem at 36.52vw 17.63em);
    display: flex;
    align-items: flex-end;
  }

  #bio p:nth-last-child(1) {
    padding-bottom: 4em;
  }
}

@media screen and ( min-width: 52.875em) {
  .credit p span{
    display: inline;
  }

  p {
    text-align: justify;
  }

  #float_foot {
    height: 150%;
    width: 50%;
    shape-outside: circle(9rem at 31.60vw 23.01em);
    float: right;
    shape-margin: 1rem;
    background: var(--try_one);
    clip-path: circle(9rem at 31.60vw 23.01em);
    display: flex;
    align-items: flex-end;
  }

  #bio p:nth-last-child(1) {
    padding-bottom: 8vw;
  }
}

@media screen and ( min-width: 65.25em) {
  .credit p span{
    display: inline;
  }

  p {
    text-align: justify;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  #float_foot {
    height: 100%;
    width: 50%;
    shape-outside: circle(9rem at 31.84vw 15.63em);
    float: right;
    shape-margin: 1rem;
    background: var(--try_one);
    clip-path: circle(9rem at 31.84vw 15.63em);
    display: flex;
    align-items: flex-end;
  }

  /*
#bio {
    border-radius: 10%;
    border: solid black;
  }

  #bio p:nth-child(2) {
    border-radius: 50% 20% / 10% 40% / 0 / 0;
  }

  #bio p:nth-last-child(1) {
    padding-bottom: 3em;
    border-radius: 50% 20% / 10% 40%;
  }*/

  #background {
    grid-column: 10 / 16;
    grid-row: 5 / 8;
    background: var(--try_three);
    border-radius: 50% 20% / 10% 40%;
    padding: 4em;
  }

    #bio p {
      padding-left: 3rem;
      padding-right: 3rem;
      background: none;
    }

  .grid {
    display: grid;
    grid-template-columns: repeat(20, 5em);
    grid-template-rows: [one] 3em [two] minmax(3rem, 5rem) [three] 2rem [four] 10rem [five] 10rem [six] fit-content(5rem) [seven] fit-Content(2rem) [eight] fit-content(10rem) [nine] fit-content(5rem) [ten] fit-content(10rem);
  }

  main {
    grid-column: 1 / 10;
    grid-row: 1 / 8;
    display: block;
  }

  #bio {
    color: var(--bkgd);
    grid-column: 10 / 16;
    grid-row: 5 / 8;
    display: flex;
  }

  .header {
    grid-column: 1 / 17;
    margin-right: 1em;
  }
}
